<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Grande Caccia</title>
  <!-- Chrome, Firefox OS and Opera -->
  <meta name="theme-color" content="#000000">
  
    <link rel="stylesheet" href="/grafica/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="/grafica/font.css">
	<link rel="stylesheet" href="/grafica/martelab.css">
       <!--[if lte IE 8]>
        <link rel="stylesheet" href="/grafica/pure/0.6.0/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="/grafica/pure/0.6.0/grids-responsive-min.css">
    <!--<![endif]-->
    
  <meta name="description" content="La grande caccia">
  
  <link rel="icon" href="/favicon.ico">

</head>
<body>

<header class="pure-g">
        <div class="pure-u-1-4">
            <img class="pure-img" src="/grafica/img/logo-big.png" alt="Grande Caccia">
        </div>
</header> 

<div id="templates"  class="pure-g" style="display: none">
<div class="team pure-u-1-1">
    <div class="pure-g">
    <div class="pure-u-1-3 team-button bottone-risposta pure-button " style="background-color:#{{color}}"><span style="color:#ffffff">{{name}}</span></div>
    <div class="pure-u-2-3"><span> punti: {{score}}</span></div>
    </div>
</div>
    
<div class="player pure-u-1-1"> 
    <div class="pure-g">

            <div class="pure-u-1-3">{{name}}</div>
            <div class="pure-u-1-3"> ({{teamName}})</div>
            <div class="pure-u-1-3"> punti: {{points}}</div>

    </div>
</div>
</div>

<main>
<header> MarteLab: la Caccia (termina tra <span id="countdown"></span>)</header>

<div class="pure-g" id="ranking">
    <div class="pure-u-1 pure-u-xl-1-2">
        <header>Classifica Fragole</header>
        <br>
        <div class="teams pure-g"></div>   
    </div>
    <div class="pure-u-1 pure-u-xl-1-2">
        <header>Classifica giocatori registrati</header>
          <br>
        <div class="players pure-g"></div>      
    </div>
</div>
  
    </main>
    


    
  <script type="text/javascript" src="js/jquery/dist/jquery.js"></script>
  <script type="text/javascript" src="main.js"></script>
    <script type="text/javascript" >
        $(function () {
        'use strict';

        var div = $("#ranking");
        pollRanking(div);

        var tdiv = $("#countdown");
        var endDate = new Date(2018, 5-1, 13, 18, 30, 0, 0);
        startTimer(tdiv, endDate);
    });

</script>
    <footer>
        <p>Vieni allo stand Marte Lab per registrarti!</p>
        <p><a target="_blank" href="http://www.martelab.it">www.martelab.it</a></p>
    </footer>
</body>

</html>