

h1, h2, h3 {
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 600;
	text-align: center;
}


p {
	text-align: center;
}

.header {
	background-color: #dd2f2b;
	color: #ffffff;
}

.quest {
	background-color: #f0f0f0;
}

.footer {
	background-color: #202020;
	color: #aaaaaa;
}

.tip{
	text-align:center;
}