<div class="quest">

<h1>Dove abiti?</h1>
<img src="grafica/img/rionigorgonzola.jpg" alt="" usemap="#Map" />
<map name="Map" id="Map">
    <area alt="" title="" href="#" shape="poly" coords="512,1050,469,942,576,887,614,1008,691,974,686,813,852,624,963,659,1099,914,912,1031,631,1143,522,1194,266,1260,186,1053,334,992,377,1097" />
    <area alt="" title="" href="#" shape="poly" coords="796,377,883,351,954,454,1304,326,1524,722,1475,766,1470,837,1312,932,1172,864,1091,919,962,652,855,621,892,565" />
    <area alt="" title="" href="#" shape="poly" coords="1258,224,1519,119,1536,248,1748,261,1874,582,1527,721,1254,222" />
    <area alt="" title="" href="#" shape="poly" coords="1994,157,2030,220,2285,78,2343,167,2222,207,2288,347,1977,517,2019,591,1899,650,1750,259" />
    <area alt="" title="" href="#" shape="poly" coords="1862,905,1591,1095,1472,839,1482,763,1523,718,1737,640" />
    <area alt="" title="" href="#" shape="poly" coords="1853,1445,1797,1552,1590,1422,1478,1243,1315,936,1470,843,1586,1097,1668,1293" />
    <area alt="" title="" href="#" shape="poly" coords="1122,1501,1067,1400,902,1467,778,1355,694,1118,922,1030,1173,868,1312,937,1476,1249" />
</map>