<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#000000">

    <title>Grande Caccia</title>

    <link rel="stylesheet" href="/grafica/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="/grafica/font.css">
	  <link rel="stylesheet" href="/grafica/martelab.css">
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="/grafica/pure/0.6.0/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="/grafica/pure/0.6.0/grids-responsive-min.css">
    <!--<![endif]-->
</head>


<body>
    <header class="pure-g">
        <div class="pure-u-1-4">
            <img class="pure-img" src="/grafica/img/logo-big.png" alt="Grande Caccia">
        </div>
    </header>
    <main>
        <div class="pure-g">

            <div class="pure-u-1-2">
                <header>
                    Classifica Rioni
                </header>

                <br>
                <div class="pure-g">
                    {% for t in teams %}
                    <div class="pure-u-1-4">
                        <p><span style="text-shadow: -2px 2px 2px #776000; color:#{{ t.color }}">{{t.name}}</span></p>
                    </div>
                    <div class="pure-u-3-4">
                        <p><span> score: {{t.score}}</span></p>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div class="pure-u-1-2">
                <header>
                    Classifica Giocatori
                </header>

                <br>
                <div class="pure-g">
                    {% for s in stats %}
                    <div class="pure-u-1-4">
                        <p><span>{{s.name}} {{s.teamName}}</span></p>
                    </div>
                    <div class="pure-u-3-4">
                        <p><span> score: {{s.points}}</span></p>
                    </div>
                    {% endfor %}
                </div>
            </div>

        </div>

    </main>

    <footer>
        <p><a target="_blank" href="http://www.martelab.it">www.martelab.it</a></p>
    </footer>
</body>
</html>
