<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#000000">
  
    <title>Grande Caccia</title>

    <link rel="stylesheet" href="/grafica/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="/grafica/font.css">
	<link rel="stylesheet" href="/grafica/martelab.css">
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="/grafica/pure/0.6.0/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="/grafica/pure/0.6.0/grids-responsive-min.css">
    <!--<![endif]-->
</head>


<body>
    <header class="pure-g">
        <div class="pure-u-1-4">
            <img class="pure-img" src="/grafica/img/logo-big.png" alt="Grande Caccia">
        </div>
    </header>
    
    <main>

    <div class="form">
    
        <form action="/admin/manual_constraints.php" method="post" id="form1">
            <p>Id player:</p>
            <input type="text" name="id"  maxlength="50" value="{{ player.id }}" />
            <p>Location name:</p>
           <input type="text" name="location"  maxlength="50" value="{{ locationName }}" />
            <button type="submit" form="form1" value="Submit">invia</button>
        </form>
    </div>
   
    {% if done == true %}
         <hr>
       <p>Vincolo di {{ locationName }} risolto per {{ player.id}}  {{ player.name}}</p>
    {% endif %}
    
  
    </main>
    <footer>
        <p><a target="_blank" href="/about.html">cos'è?</a></p>
        <p><a target="_blank" href="http://www.martelab.it">www.martelab.it</a></p>
    </footer>
</body>
</html>