<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Contessa Pia Serbelloni Mazzanti Vien Dal Mare</title>

    <link rel="stylesheet" href="grafica/pure/0.6.0/pure-min.css">
	<link rel="stylesheet" href="grafica/martelab.css">
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="grafica/pure/0.6.0/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="grafica/pure/0.6.0/grids-responsive-min.css">
    <!--<![endif]-->
</head>


<body>
	<div class="header">
		<h1>{{ Title }}</h1>
	</div>
	
	<div class="quest">

		<div class="pure-g">
			<h3>
				Come si conclude l'episodio del varo della turbonave aziendale che ebbe come protagonista la Contessa Serbelloni Mazzanti Vien Dal Mare, nel film "Il secondo Tragico Fantozzi"?
			</h3>
		</div>

		<div class="pure-g">
			<div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
				<p>La Contessa taglia di netto il mignolo dell'Arcivescovo</p>
				<p><a class="pure-button" href="javascript:window.location.href=window.location.href + '&a=a'">A</a></p>
			</div>
			<div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
				<p>La Contessa cade in acqua con Fantozzi</p>
				<p><a class="pure-button" href="javascript:window.location.href=window.location.href + '&a=b'">B</a></p>
			</div>
			<div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
				<p>La Contessa impreca non riuscendo nel lancio della bottiglia</p>
				<p><a class="pure-button" href="javascript:window.location.href=window.location.href + '&a=c'">C</a></p>
			</div>
			<div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
				<p>La Contessa ferisce numerosi presenti alla cerimonia</p>
				<p><a class="pure-button" href="javascript:window.location.href=window.location.href + '&a=d'">D</a></p>
			</div>
		</div>
	</div>

	<div class="footer">
		<p><a href="cookie.html">cookie</a> - <a href="http://www.martelab.it">www.martelab.it</a></p>
	</div>
</body>
</html>