<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#000000">

    <title>Grande Caccia</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/grafica/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="/grafica/font.css">
  	<link rel="stylesheet" href="/grafica/martelab.css">
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="/grafica/pure/0.6.0/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="/grafica/pure/0.6.0/grids-responsive-min.css">
    <!--<![endif]-->
</head>


<body>
    <header class="pure-g">
        <div class="pure-u-1-4">
            <img class="pure-img" src="/grafica/img/logo-big.png" alt="Grande Caccia">
        </div>
    </header>

    <main>
        <header>
            <p>Complimenti! Hai completato la Grande Caccia.</p>
        </header>

        <div class="pure-g">
            <div class="pure-u-1"><i class="material-icons inline-icon">swap_vertical_circle</i><span class="tab">Punti</span>: <span class="tab">{{stat.points}}</span></div>
            <br><br>
            <div class="pure-u-1"><i class="material-icons inline-icon">track_changes</i><span class="tab">Precisione</span>: <span class="tab">{{((100*stat.correct)/(stat.correct+stat.wrong)) | round }}%</span></div>
            <div class="pure-u-1"><i class="material-icons inline-icon">update</i><span class="tab">Rapidità</span>: <span class="tab">{{ (stat.time / 60) | round }}'{{  (stat.time % 60) | round }}''</span></div>
            <div class="pure-u-1 detail">(tempo per enigma)</div>
        </div>

        <br><br>


        <p>Recati allo stand Marte Lab per inserire il tuo nome nella TOP SCORE!</p>
        <br>
        <p>
            <span>Hai accumulato {{ stat.points }} punti</span>
            <span>e risolto correttamente  {{ stat.correct }} quests!</span>
            <br>
            <span>Per ora meglio del {{ stat.percentile }}% degli altri giocatori</span>
        </p>
    </main>

    <footer>
        <p><a target="_blank" href="about.html">cos'è?</a></p>
        <p><a target="_blank" href="http://www.martelab.it">www.martelab.it</a></p>
    </footer>
</body>
</html>
