<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Grande Caccia</title>
  <!-- Chrome, Firefox OS and Opera -->
  <meta name="theme-color" content="#000000">

    <link rel="stylesheet" href="/grafica/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="/grafica/font.css">
	<link rel="stylesheet" href="/grafica/martelab.css">
		<link rel="stylesheet" href="/grafica/people.css">
    <link rel="stylesheet" href="/grafica/countdown.css">
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="/grafica/pure/0.6.0/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="/grafica/pure/0.6.0/grids-responsive-min.css">
    <!--<![endif]-->

  <meta name="description" content="La grande caccia">

  <link rel="icon" href="favicon.ico">

</head>
<body>

<header class="pure-g">
    <div class="pure-u-1-1 pure-u-md-1-4">
      <img src="/grafica/img/logo-big.png" class="pure-img"  alt="Grande Caccia">
    </div>
    <div class="pure-u-1-1 pure-u-md-3-4 countdown-container">
        <div class="countdown">
          <h1 id="head">Termina tra</h1>
          <ul id="countdown_ul">
                <li><span id="days"></span>giorni</li>
                <li><span id="hours"></span>ore</li>
                <li><span id="minutes"></span>minuti</li>
                <li><span id="seconds"></span>secondi</li>
          </ul>
        </div>
    </div>
</header>

<div id="templates"  class="pure-g" style="display: none">
<div class="team pure-u-1-1">
    <div class="pure-g">
    <div class="pure-u-1-3 team-button bottone-risposta pure-button" style="background-color:#_color_"><span style="color:#ffffff">_name_</span></div>
    <div class="pure-u-2-3"><span> punti: _score_</span></div>
    </div>
</div>

<div class="player pure-u-1-1">
    <div class="pure-g">
            <div class="pure-u-1-2 spriteContainter"><div class="sprite _odd_" style="background-color:_color_;  background-position: _sx_px _sy_px;
	-webkit-mask-position:_sx_px _sy_px;"></div>_name_</div>
            <div class="pure-u-1-4">_teamName_</div>
            <div class="pure-u-1-4">punti: _points_</div>
    </div>
</div>
</div>

<main>
<div class="pure-g" id="ranking">
    <div class="pure-u-1 pure-u-md-3-5">
        <header>Classifica giocatori registrati</header>
          <br>
        <div class="players pure-g">
		</div>
    </div>
    <div class="pure-u-1 pure-u-md-2-5">
        <header>Classifica squadre</header>
        <br>
        <div class="teams pure-g"></div>
    </div>
</div>
</main>




  <script type="text/javascript" src="/js/jquery/dist/jquery.js"></script>
  <script type="text/javascript" src="main.js"></script>
    <script type="text/javascript" >
        $(function () {
        'use strict';

        var div = $("#ranking");
        pollRanking(div);

        let ddiv = $("#days");
        let hdiv = $("#hours");
        let mdiv = $("#minutes");
        let sdiv = $("#seconds");
		    let theTime = new Date({{end.y}}, {{end.m}}-1, {{end.d}}, {{end.h}}, {{end.mm}}, 0, 0).getTime();
		startTimer(theTime, ddiv, hdiv, mdiv, sdiv);
    });

</script>
    <footer>
        <p>Vieni allo stand Marte Lab per registrarti!</p>
        <p><a target="_blank" href="http://www.martelab.it">www.martelab.it</a></p>
    </footer>
</body>

</html>
