<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#000000">

    <title>Grande Caccia</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/grafica/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="/grafica/font.css">
	  <link rel="stylesheet" href="/grafica/martelab.css">
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="/grafica/pure/0.6.0/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="/grafica/pure/0.6.0/grids-responsive-min.css">
    <!--<![endif]-->

    <script type="text/javascript" src="/js/jquery.scrollorama/js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/js/jquery.scrollorama/js/jquery.lettering-0.6.1.min.js"></script>
    <script type="text/javascript" src="/js/jquery.scrollorama/js/jquery.scrollorama.js"></script>
  <!--  <script type="text/javascript" src="/js/jquery/dist/jquery.js"></script> -->
    <style>
    .scrollblock{
        padding-top:30px;
    }
    </style>
</head>

<body>
    <header class="pure-g">
        <div class="pure-u-1-4">
            <img class="pure-img" src="/grafica/img/logo-big.png" alt="Grande Caccia">
        </div>
    </header>
    <main>
        {% if options.lastCorrect is defined %}
        <header>
                {% if options.lastCorrect == false %}
                    <p id="m" class="message" >Sbagliato!</p>
                {% else %}
                    <p id="m" class="message" >Corretto!</p>
                {% endif %}
        </header>
        <script>
        $(function () {
            $("#m").animate(
              { fontSize: "2em"}
            //  ,
            //  { progress : function(animation, progress, msRemaining) {
            //    console.log(progress);
            //                $('#pval').html(Math.round({{ progress }} * progress));
            //              }
            //    }
          ).animate({ fontSize: "1em"},400)
        });
      </script>
        {% endif %}

        {% if stat.points is defined %}
        <div class="pure-g">
            <div class="pure-u-1"><i class="material-icons inline-icon">swap_vertical_circle</i><span class="tab">Punti</span>: <span class="tab">{{stat.points}}</span></div>
            <div class="pure-u-1 detail">(meglio del {{ stat.percentile }}% dei giocatori)</div>
            <br><br>
            <div class="pure-u-1"><i class="material-icons inline-icon">track_changes</i><span class="tab">Precisione</span>: <span class="tab">{{((100*stat.correct)/(stat.correct+stat.wrong)) | round }}%</span></div>
            <div class="pure-u-1"><i class="material-icons inline-icon">update</i><span class="tab">Rapidità</span>: <span class="tab">{{ (stat.time / 60) | round }}'{{  (stat.time % 60) | round }}''</span></div>
            <div class="pure-u-1 detail">(tempo per enigma)</div>
        </div>
        <br>
        {% endif %}

        <div class="progressbar"><div>
            <div class="current" id="bar"  ></div>
            <div class="content"><span id="pval">{{ progress }}</span>% completato</div>
            <script>
              $(function () {
                  $("#bar").animate(
                    { width: "{{ progress }}%"}
                  //  ,
                  //  { progress : function(animation, progress, msRemaining) {
                  //    console.log(progress);
                  //                $('#pval').html(Math.round({{ progress }} * progress));
                  //              }
                  //    }
                    );
              });
            </script>
        </div></div>
        <hr>
        {% if unsolvedHints|length > 0 %}
        <div class="scrollblock">
            <h1 class="scrollOne">
            {% if unsolvedHints | length  == 1 %}
            Hai sbloccato un indizio:
            {% else %}
            Hai sbloccato questi {{ unsolvedHints | length  }} indizi:
            {% endif %}

            </h1>
        </div>
            {% for q in unsolvedHints %}
            <div class="scrollblock"><div class="hint">
                <p style="">Indizio {{loop.index}} di {{ unsolvedHints | length  }}</p>
                {% if q.hintImage %}
                    <img class="pure-img" src="{{ q.hintImage }}" alt="hint">
                {% else %}
                <p>{{ q.hint }}</p>
                {% endif %}
             </div></div>
            {% endfor %}
        {% else %}
             <p style="">Segui il Bianconiglio...</p>
        {% endif %}

    </main>
    <div class="arrow " id="scrollArrow" >
        <i class="material-icons">arrow_downward</i>
    </div>

    <div class="scrollblock"></div>
    <hr>
    <footer style="position:fixed; bottom:0px; left:0px; right:0px;">
        <p><a target="_blank" href="index.php">classifica</a></p>
        <p><a target="_blank" href="about.html">cos'è?</a>
        <p><a target="_blank" href="http://www.martelab.it">www.martelab.it</a></p>
    </footer>

    <script type="text/javascript" >
    {% if unsolvedHints|length > 0 %}
    $(document).ready(function() {
    var scrollorama = $.scrollorama({
        blocks:'.scrollblock'
    });
    scrollorama.animate('.scrollOne',{ delay: 0, duration: 500, property:'margin-bottom', start:250, end:100});

    {% for q in unsolvedHints %}
     scrollorama.animate('.hint:eq({{loop.index0}})',{ delay: 0, duration: 500, property:'margin-bottom', start:250,  end:100, pin:true});
    {% endfor %}


    });
    {% endif %}
    </script>
</body>
</html>
