<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#000000">

    <title>Grande Caccia</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/grafica/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="/grafica/font.css">
	<link rel="stylesheet" href="/grafica/martelab.css">
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="/grafica/pure/0.6.0/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="/grafica/pure/0.6.0/grids-responsive-min.css">
    <!--<![endif]-->
<style>
    .scrollblock{

        padding-top:30px;
    }
    </style>
</head>


<body>

    <header class="pure-g">
        <div class="pure-u-1-4">
            <img class="pure-img" src="/grafica/img/logo-big.png" alt="Grande Caccia">
        </div>
    </header>
    <main>

        <header>
                {% if stat.name == "unnamed" %}
                    <p class="message">Giocatore non registrato</p>
                {% else %}
                    <p class="message">{{ stat.name }}</p>
                {% endif %}
        </header>

        {% if stat.points is defined %}
        <div class="pure-g">
            <div class="pure-u-1"><i class="material-icons inline-icon">swap_vertical_circle</i><span class="tab">Punti</span>: <span class="tab">{{stat.points}}</span></div>
            <div class="pure-u-1 detail">(meglio del {{ stat.percentile }}% dei giocatori)</div>
            <br><br>
            <div class="pure-u-1"><i class="material-icons inline-icon">track_changes</i><span class="tab">Precisione</span>: <span class="tab">{{((100*stat.correct)/(stat.correct+stat.wrong)) | round }}%</span></div>
            <div class="pure-u-1"><i class="material-icons inline-icon">update</i><span class="tab">Rapidità</span>: <span class="tab">{{ (stat.time / 60) | round }}'{{  (stat.time % 60) | round }}''</span></div>
            <div class="pure-u-1 detail">(tempo per enigma)</div>
        </div>
                <br>
        {% endif %}
    </main>

    <div class="scrollblock"></div>
    <hr>
    <footer style="position:fixed; bottom:0px; left:0px; right:0px;">
        <p><a target="_blank" href="index.php">classifica</a></p>
        <p><a target="_blank" href="about.html">cos'è?</a>
        <p><a target="_blank" href="http://www.martelab.it">www.martelab.it</a></p>
    </footer>

</body>
</html>
