
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Grande Caccia</title>

    <link rel="stylesheet" href="../grafica/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="../grafica/font.css">
	<link rel="stylesheet" href="../grafica/martelab.css">
       <!--[if lte IE 8]>
        <link rel="stylesheet" href="../grafica/pure/0.6.0/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="../grafica/pure/0.6.0/grids-responsive-min.css">
    <!--<![endif]-->
    
  <meta name="description" content="La grande caccia">
  
  <link rel="icon" href="../favicon.ico">
   <style>
      #map {
        height: 400px;
        width: 100%;
       }
    </style>
</head>
<body>

 <div align="center">
  <img src="../grafica/img/logo-big.png"  width="50%" alt="Grande Caccia">
  <header>Sei a <span id="location">lat:  {{center.lat}}, lng:  {{center.lon}}</span></header>
  <div id="map"></div>
</div> 

    

  <script type="text/javascript" src="../js/jquery/dist/jquery.js"></script>
  
	<script type="text/javascript" >



	</script>
	 <script>
      function initMap() {
        
        var p = {lat:  {{center.lat}}, lng:  {{center.lon}}};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: p
        });
      
      
        {% for player in players %}
        p = {lat: {{player.lat}}, lng: {{player.lon }}};
        var marker = new google.maps.Marker({ position: p, map: map });
		{% endfor %}	

        
      }
	 
	   function updateGPS(position)
          {
              document.cookie="marteHunt_lat="+position.coords.latitude;
              document.cookie="marteHunt_lon="+position.coords.longitude;
              
              $("#location").html("lat : "+ position.coords.latitude+" lng :" + position.coords.longitude);

          }
          
        if (navigator.geolocation)
        {  
            
			navigator.geolocation.watchPosition(updateGPS );		
        }
  		else
        {  
            $("#location").html( "No GPS Functionality.");  
        }  
         
         
         
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key={{googleApi}}A&callback=initMap">
    </script>
</body>

</html>