<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#000000">
    <meta http-equiv="cache-control" content="no-cache">

    <title>{{ title }}</title>

    <link rel="stylesheet" href="/grafica/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="/grafica/font.css">
	<link rel="stylesheet" href="/grafica/martelab.css">
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="grafica/pure/0.6.0/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="/grafica/pure/0.6.0/grids-responsive-min.css">
    <!--<![endif]-->
</head>


<body>

    <header class="pure-g">
        <div class="pure-u-1-4">
            <img class="pure-img" src="/grafica/img/logo-grande-xxcaccia.png" alt="Grande Caccia">
        </div>
    </header>

    <div id="templates"  class="pure-g" style="display: none">
        <div class="answer-text pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
            <div class="pure-g">
                <div class="pure-u-1-5 pure-u-md-1-1 pure-u-lg-1-1">
                    <p><a class="bottone-risposta pure-button" href="javascript:window.location.href=window.location.href+'&a=_name_'">_name_</a></p>
                </div>
                <div class="pure-u-4-5 pure-u-md-1-1">
                    <p>_text_</p>
                </div>
            </div>
        </div>
        <div class="answer-image pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
            <div class="pure-g">
                <div class="pure-u-1-5 pure-u-md-1-1 pure-u-lg-1-1">
                    <p><a class="bottone-risposta pure-button" href="javascript:window.location.href=window.location.href+'&a=_name_'">_name_</a></p>
                </div>
                <div class="answer-image pure-u-4-5 pure-u-md-1-1">
                    <img class="pure-img" src="" alt="caricamento immagine... ">
                </div>
            </div>
        </div>
    </div>

    <main role="main">
      {% for d in data %}

      <header>
        Location {{ d.location.name}}
      </header>
        <div>
        <p>Suggerimento:</p>
         {% if d.location.hintImage is not empty %}
                <img class="pure-img" src="{{ d.location.hintImage }}" alt="caricamento immagine... ">
         {% endif %}
         {% if d.location.hint is not empty %}
                <p>{{d.location.hint | raw }}</p>
         {% endif %}
        </div>

      <br>
      {% for quest in d.quests %}
        <header>
          Quest {{ quest.name }}
        </header>
            {% if quest.questionImage is not empty %}
                <img class="pure-img" src="{{ quest.questionImage }}" alt="caricamento immagine... ">
            {% endif %}
            {% if quest.question is not empty %}
                <p>{{ quest.question | raw }}</p>
            {% endif %}


        <div id="risposte" class="pure-g" >

          {% for answer in quest.answers %}

           {% if answer.image is empty %}
           <div class="answer-text pure-u-1 pure-u-md-1-2 pure-u-lg-1-5">
            <div class="pure-g">
                <div class="pure-u-1-5 pure-u-md-1-1 pure-u-lg-1-1">
                    {{ answer.name }}
                </div>
                <div class="pure-u-4-5 pure-u-md-1-1">
                    {{ answer.text | raw }}
                </div>
            </div>
        </div>
          {% else %}
        <div class="answer-image pure-u-1 pure-u-md-1-2 pure-u-lg-1-5">
            <div class="pure-g">
                <div class="pure-u-1-5 pure-u-md-1-1 pure-u-lg-1-1">
                    <p><a class="bottone-risposta pure-button" href="javascript:window.location.href=window.location.href+'&a=_name_'">{{ answer.name }}</a></p>
                </div>
                <div class="answer-image pure-u-4-5 pure-u-md-1-1">
                    <img class="pure-img" src="{{ answer.image }}" alt="caricamento immagine... ">
                </div>
            </div>
        </div>

          {% endif%}
          {% endfor %}
        </div>
         <br><br>
        {% endfor %}

    <br>
      <hr>
         {% endfor %}


    <footer>
      <p id="debug" ></p>
        <p><a target="_blank" href="about.html">cos'è?</a></p>
        <p><a target="_blank" href="http://www.martelab.it">www.martelab.it</a></p>
    </footer>

</body>
</html>
