<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#000000">
    <meta http-equiv="cache-control" content="no-cache">

    <title>{{ title }}</title>

    <link rel="stylesheet" href="/grafica/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="/grafica/font.css">
	  <link rel="stylesheet" href="/grafica/martelab.css">
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="/grafica/pure/0.6.0/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="/grafica/pure/0.6.0/grids-responsive-min.css">
    <!--<![endif]-->

    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
    <script>
    window.addEventListener("load", function(){
    window.cookieconsent.initialise({
      "palette": {
        "popup": {
          "background": "#000",
          "text": "#ffd400"
        },
        "button": {
          "background": "#ffd400",
          "text": "#000000"
        }
      },
      "position": "bottom",
      "content": {
        "message": "La Grande Caccia utilizza cookies tecnici unicamente per gestire il gioco.",
        "dismiss": "Cominciamo!",
        "link": "Altre informazioni",
        "href": "/cookie.html"
      }
    })});
    </script>
</head>

<body>
    <header class="pure-g">
        <div class="pure-u-1-4">
            <img class="pure-img" src="/grafica/img/logo-big.png" alt="Grande Caccia">
        </div>
    </header>

    <div id="templates"  class="pure-g" style="display: none">
        <div class="answer-text pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
            <div class="pure-g">
                <div class="pure-u-1-5 pure-u-md-1-1 pure-u-lg-1-1">
                    <p><a class="bottone-risposta pure-button" href="javascript:window.location.href=window.location.href+'&a=_name_'">_name_</a></p>
                </div>
                <div class="pure-u-4-5 pure-u-md-1-1">
                    <p>_text_</p>
                </div>
            </div>
        </div>
        <div class="answer-image pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
            <div class="pure-g">
                <div class="pure-u-1-5 pure-u-md-1-1 pure-u-lg-1-1">
                    <p><a class="bottone-risposta pure-button" href="javascript:window.location.href=window.location.href+'&a=_name_'">_name_</a></p>
                </div>
                <div class="answer-image pure-u-4-5 pure-u-md-1-1">
                    <img class="pure-img" src="" alt="caricamento immagine... ">
                </div>
            </div>
        </div>
    </div>

    <main role="main">

        <header>
            {% if quest.questionImage is not empty %}
                <img class="pure-img" src="{{ quest.questionImage }}" alt="caricamento immagine... ">
            {% endif %}
            {% if quest.question is not empty %}
                <p>{{ quest.question | raw }}</p>
            {% endif %}
        </header>

        <div style="text-align:center" id="checks" class="pure-g">
            <div class="title pure-u-1-1 pure-u-md-1-1 pure-u-lg-1-1">
              <p id="message"> {{check.message}} </p>
            </div>
            <div id="error"></div>
             <div id="distance" class="pure-u-1-1 pure-u-md-1-1 pure-u-lg-1-1">
               <div class="distance_from" ></div><div id="distance_progress"><p></p></div><div class="distance_to" ></div>
              <p> Sei distante <span class="value">{{check.dist}}</span> metri</p>
            </div>
            <div id="time" class=" pure-u-1-1 pure-u-md-1-1 pure-u-lg-1-1">
             <p > <span class="value">{{check.nextTime}}</span></p>
            </div>
        </div>
          <div id="risposte" class="pure-g" />

    </main>

    <footer>
      <p id="debug" ></p>
        <p><a target="_blank" href="/about.html">cos'è?</a></p>
        <p><a target="_blank" href="http://www.martelab.it">www.martelab.it</a></p>
    </footer>

      <script type="text/javascript" src="/js/jquery/dist/jquery.js"></script>
      <script type="text/javascript" src="/main.js"></script>
      <script type="text/javascript" >

        $(function () {
          'use strict';

          $.ajaxSetup({ cache: false });

          var rdiv = $("#risposte");
          var cdiv = $("#checks");

          cdiv.find("#distance").hide();
          cdiv.find("#time").hide();

          function errorGPS(err)
          {
              //cdiv.find("#debug").html('ERROR(' + err.code + '): ' + err.message);
              if (err.code == 1)
              {
                 cdiv.find("#message").html("Attenzione<br>Per poter risolvere gli enigmi devi permettere l'invio della tua posizione.");
              }
              else if (err.code == 2)
              {
                 cdiv.find("#message").html("Attenzione<br>Per poter risolvere gli enigmi devi attivare la geolocalizzazione.");
              }

          }

          function updateGPS(position)
          {
              document.cookie="marteHunt_lat="+position.coords.latitude;
              document.cookie="marteHunt_lon="+position.coords.longitude;

              cdiv.find("#message").html("{{check.message}}");
              pollQuestChecks([{{quest.location}} , '{{quest.locationSecret}}'],rdiv, cdiv);
          }

          if (navigator.geolocation)
		  {

			navigator.geolocation.watchPosition(updateGPS, errorGPS, {enableHighAccuracy : true});
		  }
  		  else
		  {
			$("#debug").html( "No GPS Functionality.");
		  }


        });
        </script>
</body>
</html>
