<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#000000">

    <title>Grande Caccia</title>

    <link rel="stylesheet" href="/grafica/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="/grafica/font.css">
	  <link rel="stylesheet" href="/grafica/martelab.css">
    <link rel="stylesheet" href="/grafica/people.css">
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="/grafica/pure/0.6.0/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="/grafica/pure/0.6.0/grids-responsive-min.css">
    <!--<![endif]-->

    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
    <script>
    window.addEventListener("load", function(){
    window.cookieconsent.initialise({
      "palette": {
        "popup": {
          "background": "#000",
          "text": "#ffd400"
        },
        "button": {
          "background": "#ffd400",
          "text": "#000000"
        }
      },
      "position": "bottom",
      "content": {
        "message": "La Grande Caccia utilizza cookies tecnici unicamente per gestire il gioco.",
        "dismiss": "Cominciamo!",
        "link": "Altre informazioni",
        "href": "/cookie.html"
      }
    })});
    </script>
</head>

<body>
    <header class="pure-g">
        <div class="pure-u-1-4">
            <img class="pure-img" src="/grafica/img/logo-big.png" alt="Grande Caccia">
        </div>
    </header>

    <main>
    {% if done == false %}
    <div class="form">

        <form action="/register.php" method="post" id="form1">
            <p>Inserisci il tuo nome:</p>
            <input type="text" name="name"  maxlength="10" value="{{ name }}" />
            <input type="hidden" name="color" id="colorInput" />
            <input type="hidden" name="sprite" id="spriteInput" />
            <br>  <br>
            <p>Scegli un personaggio:</p><br>
            <div class="spriteBox" id="players">
            {% for s in sprites %}
                <div class="sprite" style="background-color:{{s.color}};  background-position: {{s.sx}}px {{s.sy}}px; -webkit-mask-position:{{s.sx}}px {{s.sy}}px;"></div>
            {% endfor %}

            </div>
            <button type="submit" form="form1" value="Submit" class="pure-button">invia</button>
        </form>
    </div>
    {% endif %}

   <p><span class="tab">Punti</span>: <span class="tab">{{stat.points}}</span></p>
        <p><span class="tab">Precisione</span>: <span class="tab">{{((100*stat.correct)/(stat.correct+stat.wrong)) | round }}%</span></p>
        <p>(meglio del {{ stat.percentile }}% dei giocatori)</p>
        <br>
        <div class="progressbar"><div>
            <div class="current" style="width:{{ progress }}%" ></div>
            <div class="content">{{ progress }}% completato</div>
        </div></div>
        <hr>
    </main>
    


  <script type="text/javascript" src="/js/jquery/dist/jquery.js"></script>
  <script type="text/javascript" src="main.js"></script>
    <script type="text/javascript" >
        $(function () {
        'use strict';
        var sin = $("#spriteInput");
        var cin = $("#colorInput");

        var div = $("#players");
        makeSprites(div,sin, cin,17);

    });

</script>

    <footer>
        <p><a target="_blank" href="/about.html">cos'è?</a></p>
        <p><a target="_blank" href="http://www.martelab.it">www.martelab.it</a></p>
    </footer>
</body>
</html>
