<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#000000">

    <title>Grande Caccia</title>

    <link rel="stylesheet" href="/grafica/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="/grafica/font.css">
	<link rel="stylesheet" href="/grafica/martelab.css">
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="grafica/pure/0.6.0/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="/grafica/pure/0.6.0/grids-responsive-min.css">
    <!--<![endif]-->
</head>


<body>
    <header class="pure-g">
        <div class="pure-u-1-4">
            <img class="pure-img" src="/grafica/img/logo-big.png" alt="Grande Caccia">
        </div>
    </header>
    <main>

        <header>
            <p>Scegli la tua squadra</p>
            <img class="pure-img" src="/img_quest/intro_sm.jpg" alt="intro">
        </header>

        <div class="pure-g">
            {% for t in teams %}
            <div class="pure-u-1-2 pure-u-lg-1-4">
                <p><a class="team-button bottone-risposta pure-button" style="color: #000000; background:#{{t.color}}" href="javascript:window.location.href=window.location.href + '&t={{t.id}}'">{{t.name}}</a></p>
            </div>
            {% endfor %}
        </div>
        <br>
    </main>

    <footer class="scrollblock">
        <p><a target="_blank" href="about.html">cos'è?</a></p>
        <p><a target="_blank" href="http://www.martelab.it">www.martelab.it</a></p>
    </footer>
</body>
</html>
