<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Chrome, Firefox OS and Opera -->
  <meta name="theme-color" content="#000000">
  <meta name="description" content="La grande caccia">

  <title>Grande Caccia</title>

    <link rel="stylesheet" href="/grafica/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="/grafica/font.css">
	<link rel="stylesheet" href="/grafica/martelab.css">
    <link rel="stylesheet" href="/grafica/countdown.css">
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="/grafica/pure/0.6.0/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="/grafica/pure/0.6.0/grids-responsive-min.css">
    <!--<![endif]-->
   <link rel="icon" href="/favicon.ico">

</head>
<body>

  <header class="pure-g">
    <div class="pure-u-1-1 pure-u-md-1-4">
      <img src="/grafica/img/logo-big.png" class="pure-img"  alt="Grande Caccia">
    </div>
    <div class="pure-u-1-1 pure-u-md-3-4 countdown-container">
        <div class="countdown">
          <h1 id="head">Inizia tra</h1>
          <ul id="countdown_ul">
                <li><span id="days"></span>giorni</li>
                <li><span id="hours"></span>ore</li>
                <li><span id="minutes"></span>minuti</li>
                <li><span id="seconds"></span>secondi</li>
          </ul>
        </div>
    </div>
  </header>
  <main>
    <iframe width="100%" src="https://www.youtube.com/embed/E51gtP4Alwg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <br><br>
    <p  style=" text-align: center;">
      Vieni a trovarci con il tuo smartphone allo stand Martelab in Piazza della Repubblica a Gorgonzola!
    </p>
  </main>
   <footer>
        <p><a target="_blank" href="about.html">cos'è?</a></p>
        <p><a target="_blank" href="http://www.martelab.it">www.martelab.it</a></p>
    </footer>


  <script type="text/javascript" src="/js/jquery/dist/jquery.js"></script>
  <script type="text/javascript" src="/main.js"></script>

  <script type="text/javascript" >

	$(function () {
		'use strict'
		let ddiv = $("#days");
        let hdiv = $("#hours");
        let mdiv = $("#minutes");
        let sdiv = $("#seconds");
		let theTime = new Date({{start.y}}, {{start.m}}-1, {{start.d}}, {{start.h}}, {{end.mm}}, 0, 0).getTime();
		startTimer(theTime, ddiv, hdiv, mdiv, sdiv);
	});


  </script>


</body>

</html>
