.countdown-container {
 
    text-align: center;
    position: relative;  
    bottom: 0;
}

.countdown {
    font-size: 1vw;
    position: absolute;
    height: 50%;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0px;
    top: 0px;
}

.countdown h1 {
  font-weight: normal;
   font-size: 5vw;  
}

.countdown li {
  display: inline-block;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

.countdown li span {
  display: block;
  font-size: 5vw;
}

@media screen and (max-width: 35.5em)
{
.countdown {
    font-size: 3vw;
    position:relative;
}
.countdown li span {
    font-size: 10vw;
}
.countdown h1 {
  font-size: 10vw;
}
}