/*
http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    letter-spacing: normal;
}

sup
{
  font-size: 60%;
}

/*
HTML5 display-role reset for older browsers
*/
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}


html, body {
    height: 100%;
    margin: 0px;
    background-color: #FFD400;
}


/*
code for sticky footer
https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
*/
body {
    display: -webkit-flex;          /* Safari */
    -webkit-flex-direction: column; /* Safari 6.1+ */
    display: flex;
    height: 100%;
    flex-direction: column;
}


header, footer {
    flex: none;
}


/*
page header with grandecaccia logo
*/
body > header {
    margin-bottom: 10px;
    border-bottom: 5px solid #000000;
}


/*
quest: question and answers
*/
main {
    font-family: 'Circular Std';
    font-weight: 900;
    font-style: normal;
    font-size: 100%;
	color: #000000;
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
    flex: 1 0 auto;
}


main img {
    margin: auto;
}


/*
question
*/
main > header {
    font-size: 115%;
    margin-bottom: 20px;
}


/*
answer
*/
.risposte > div{
    margin-bottom: 20px;
    text-align: center;
}


.risposte p {
    font-family: 'Circular Std';
    font-weight: 900;
    font-style: normal;
    color: #000000;
}


.risposte p:first-child {
    margin-bottom: 10px;
}

.answer-text
{
  margin-bottom: 1em;
}
.answer-text img
{
  vertical-align: middle;
}

header img
{
  vertical-align: middle;
}

/*
footer
*/
footer {
    font-family: 'Circular Std';
    font-weight: 500;
    font-style: normal;
    background-color: #000000;
    text-align:center;
}


footer a, footer p {
    color: #FFD400;
    text-decoration: none;
}


/*
others
*/

main > hr {
    border: 0;
    height: 5px;
    background: #000000;
}

.center {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align:center;
  font: 0/0 a;
  &:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }
}


.bottone-risposta {
    color: #000000;
    border-radius: 0.5em;
    padding: .65em 1em;
    background-color: #ffffff;
	margin:.3em;
}

.team-button
{
	width:8em;
	border:2px solid black;
}

ul li {
    display: block;
    font-style: italic;
    list-style-type: disc;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 0;
    margin-right: 0;
}



.current {
  position:absolute;
  left:0px;
  height:1.4em;
  background-color: rgba(255, 165, 0, 0.6)
}
.content{
  position:absolute;
  left:0px;
  right:0px;
  text-align:center;
}
.progressbar {
    padding: 0px;

    height:1.4em;
    left:3px;
    right:3px;
    border:1px dashed black;
    margin-bottom:1em;
}
.progressbar>div{
    position:relative;
}
.message{
    text-align: center;
}
.hint{
   // margin-top:4em;
    text-align:center;
    padding-top:2px;
	box-shadow: 0px -2px 2px #b39500;
    background-color: #FFD400;
    min-height: 300px;
}
.hint>p:first-child{
   border-bottom:1px solid black;
    margin-bottom:2px;
}
.scrollblock
{
    left:4px;
    right:4px;
}
.tab{
  display:inline-block;
  min-width:6em;
}

.arrow{
    position:fixed;
    bottom:4em;
    left:0px;
    right:0px;
    text-align:center;
}

.distance_from{
 background-image: url(img/dist_from.png);
 display:inline-block;
height:50px;
width:50px;

}
.distance_to{
 background-image: url(img/dist_to.png);
 display:inline-block;
 height:50px;
 width:50px;
}
#distance_progress{
    height:30px;
    display:inline-block;
}
#distance_progress p{
    border:2px dashed black;
    width:100%;
}

.players, .teams
{
    padding-top:2em;
    padding-bottom:2em;
}

.form
{
    text-align: center;
}

/*playerLanding */
.detail
{
  font-weight: normal;
  font-size: smaller;
}

.inline-icon
{
  vertical-align: bottom;
  padding-right: 0.2em;
}
