.spriteContainer{
	display:flex;
}

.sprite {
	background: url(/grafica/img/people.gif) no-repeat;
	background-size: 561px;
	background-blend-mode: hard-light;
	-webkit-mask-image: url(/grafica/img/people.gif);
    -webkit-mask-repeat:no-repeat;
    -webkit-mask-size: 561px;
    width: 24px;
    height: 68px;
    display: inline-block;
	margin-left:0.5em;
	margin-top:-50px;
	margin-right:2.5em;
}

.sprite.odd {
margin-right:0.5em;
margin-left:2.5em;
}



.spriteBox {
    min-height:250px;
}
.spriteBox .sprite
{
    margin-top: 0px;
    margin-left:10px;
    margin-right:10px;
}

.spriteAA {
    background-position: -15px -20px;
	-webkit-mask-position:-51px -20px;
}


.spriteBB {
	 background-position: -88px -20px;
	 -webkit-mask-position:-88px -20px;
}
   
}
.spriteCC{
    background-position: -51px -20px;
	-webkit-mask-position:-51px -20px;
}