grandecaccia {
    background-color: #FFD400;
}

id::before {
    content: "id: ";
}

id {
    display: block;
    color: #000000;
    font-size: 9pt;
}

quest {
    display: block;
    margin-bottom: 30px;
}

title {
    display: block;
    color: #000000;
    font-size: 15pt;
    margin-bottom: 10px;
}

question {
    display: block;
    color: #101010;
    font-size: 11pt;
    margin-bottom: 5px;
}

answer {
    display: block;
    color: #101010;
    font-size: 10pt;
    margin-left: 10pt;
}

hint::before{
    content: "Hint: ";
}

hint {
    display: block;
    color: #505050;
    margin-top: 10pt;
    font-size: 11pt;
}